body{
    background-color: beige;
    margin:0;
    padding:0;
    sizing:border-box;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card{
    display: flex;
}
.slider-imageDotes-container{
    display: flex;
    flex-direction: column;
}
.img-frame{
    width:300px;
    overflow: hidden;
}
.img-container{
    display: flex;
    transition: 1s;
}

.no-display{
    display:none;
}

.slider-bar{
    width:200px;
    height:20px;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
}
.slider-dot{
    height:10px;
    width:10px;
    background-color: darkgray;
}
.active-dot{
    background-color: gray;
}
.arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    background-color: darkgrey;
    height:300px;
}
.left-arrow{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.right-arrow{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}